# 🫧 ECK Exporter

{{ template "chart.versionBadge" . }}{{ template "chart.appVersionBadge" . }}
[![Brought by Enix](https://img.shields.io/badge/Brought%20to%20you%20by-ENIX-%23377dff?labelColor=888&logo=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkBAkQIg/iouK/AAABZ0lEQVQY0yXBPU8TYQDA8f/zcu1RSDltKliD0BKNECYZmpjgIAOLiYtubn4EJxI/AImzg3E1+AGcYDIMJA7lxQQQQRAiSSFG2l457+655x4Gfz8B45zwipWJ8rPCQ0g3+p9Pj+AlHxHjnLHAbvPW2+GmLoBN+9/+vNlfGeU2Auokd8Y+VeYk/zk6O2fP9fcO8hGpN/TUbxpiUhJiEorTgy+6hUlU5N1flK+9oIJHiKNCkb5wMyOFw3V9o+zN69o0Exg6ePh4/GKr6s0H72Tc67YsdXbZ5gENNjmigaXbMj0tzEWrZNtqigva5NxjhFP6Wfw1N1pjqpFaZQ7FAY6An6zxTzHs0BGqY/NQSnxSBD6WkDRTf3O0wG2Ztl/7jaQEnGNxZMdy2yET/B2xfGlDagQE1OgRRvL93UOHqhLnesPKqJ4NxLLn2unJgVka/HBpbiIARlHFq1n/cWlMZMne1ZfyD5M/Aa4BiyGSwP4Jl3UAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjAtMDQtMDlUMTQ6MzQ6MTUrMDI6MDDBq8/nAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIwLTA0LTA5VDE0OjM0OjE1KzAyOjAwsPZ3WwAAAABJRU5ErkJggg==)](https://enix.io)

A Prometheus exporter for [Elastic Cloud on Kubernetes (ECK)](https://github.com/elastic/cloud-on-k8s), put together with [kube-state-metrics](https://github.com/kubernetes/kube-state-metrics) and a custom configuration.   
It exposes metrics on the operator's Custom Resources and their current statuses and reconciliation progress. A configurable set of Prometheus alerts is provided for convenience.

Supported CRDs:
* Elasticsearch
* Kibana
* ApmServer
* Agent

The following metrics are available:
* `eck_elasticsearch_info` (version)
* `eck_elasticsearch_health` (red, yellow, green, unknown)
* `eck_elasticsearch_phase` (Ready, ApplyingChanges, MigratingData, Stalled, Invalid)
* `eck_elasticsearch_condition` (ReconciliationComplete, RunningDesiredVersion, ElasticsearchIsReachable, ResourcesAwareManagement)
* `eck_kibana_info` (version)
* `eck_kibana_health` (red, yellow, green, unknown)
* `eck_apmserver_info` (version)
* `eck_apmserver_health` (red, yellow, green, unknown)
* `eck_agent_info` (version)
* `eck_agent_health` (red, yellow, green, unknown)

Shipped with Prometheus alerts:
* `EckElasticsearchHealth`
* `EckElasticsearchNotReady`
* `EckElasticsearchApplyingChangesIsSlow`
* `EckElasticsearchMigratingDataIsSlow`
* `EckElasticsearchReconciliationInProgress`
* `EckElasticsearchNotRunningDesiredVersion`
* `EckElasticsearchUnreachable`
* `EckKibanaHealth`
* `EckApmServerHealth`
* `EckAgentHealth`

[Chart values](#⚙️-values) offer knobs to disable or customize default alerts, and even inject your own.

## 🏃 Installation

It only takes two commands to install if you're running prometheus-operator (kube-prometheus-stack).

Add our Charts repository:
```console
$ helm repo add enix https://charts.enix.io
```
Install eck-exporter:
```console
$ helm install eck-exporter enix/eck-exporter
```

If installation failed or you can't get new metrics in Prometheus, please review [Chart values](#⚙️-values).   
With clusters that don't use the Prometheus operator at all — missing the CRDs — disable resource creation and perhaps add Pod
annotations for scrapping with classic Kubernetes service discovery:
```yaml
podAnnotations:
  prometheus.io/port: "9793"
  prometheus.io/scrape: "true"
service:
  create: false
serviceMonitor:
  create: false
prometheusRules:
  create: false
```

## ❓ FAQ

> Why not simply use [elasticsearch_exporter](https://github.com/prometheus-community/elasticsearch_exporter)?

Yes you should! This project is in no way a substitute for the Elasticsearch exporter which provides vast amounts of metrics.

Our only goal was to bridge the gap of not having visibility on ECK reconciliation loops. It also brings a little observability of other applications managed by the operator. Some it's difficult to get statuses for in a Prometheus centric supervision.

With that being said, if not having elasticsearch_exporter installed at all, this ECK exporter will still bring you basic health informations for bare minimum alerting. With little effort as there is no need to configure authentication. Then when an alert is raised, further investigations can be conducted using native Elastic APIs and metrics.

> Could you add a metric for XYZ, please?

Before submitting a request for a new metric, please be aware of the very limited scope of eck-exporter.   
Firstly there are limitations with the use of kube-state-metrics, which has a declarative model to create metrics and does not permit any processing. This means we basically can only extract data as presented in ECK resources already. And no direct communication is made with the running operator.   
Going back to the goal for this project, we also don't want to become too redundant with elasticsearch_exporter and Kubernetes Pod metrics.

> Why make a dedicated chart? I already run [kube-state-metrics](https://github.com/kubernetes/kube-state-metrics) and could use your `--custom-resource-state-config-file`.

We wanted to provide the same experience as installing a full-fledged and well packaged exporter, with all prometheus-operator facilities ready in seconds. It's also better for continuous improvement and testing, as it's a convenient platform to receive contributions on.   
Should this project evolve to a dedicated codebase — whatever the reason would be — we'll be able to offer a clear and smooth transition to existing users.

> How do you manage GVK version bumps in ECK's CRDs?

Great question... To be answered when the need arises 😅

## ⚙️ Values

{{ template "chart.valuesTable" . }}
{{ template "helm-docs.versionFooter" . }}

## ⚖️ License

```
Copyright (c) 2023 ENIX

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
```
